---
import LilyPond from "astro-lilypond/component";
import FencedLilyPond from "../FencedLilypond.astro";
import example from "./scores/example.ly?crop";
import exampleRaw from "./scores/example.ly?raw";
---

<section>
  <div>
    <p>
      Write <a href="https://lilypond.org">LilyPond</a> inside Markdown&hellip;
    </p>
    <FencedLilyPond code={exampleRaw} title="example.md" />
  </div>
  <div>
    <p>&hellip;and it renders as music notation.</p>
    <LilyPond content={example} class="responsive" />
  </div>
</section>

<style>
  section {
    padding-block: 0.5em;
    display: grid;
    gap: 1.5rem;

    > div {
      margin: 0;
    }

    @media (width > 1000px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  p {
    font-size: var(--sl-text-lg);
    font-style: italic;
  }

  .responsive {
    width: min(400px, 100%);
  }
</style>
