---
import { CardGrid } from "@astrojs/starlight/components";
import LilyPond from "astro-lilypond/component";
import FencedLilyPond from "./FencedLilypond.astro";
import example from "../examples/example.ly";
import exampleRaw from "../examples/example.ly?raw";
---

<CardGrid>
  <div>
    <p>Write LilyPond inside Markdown&hellip;</p>
    <FencedLilyPond code={exampleRaw} />
  </div>
  <div>
    <p>&hellip;and it renders as music notation.</p>
    <LilyPond content={example} class="responsive" />
  </div>
</CardGrid>

<style>
  .responsive {
    width: 100%;
  }
</style>
