:root {
	--sl-font: "EB Garamond Variable", ui-serif, serif;
}

.lilypond {
	/* From starlight-theme-flexoki */
	background: var(--color-paper, #fffcf0);
}

[data-theme="dark"] .lilypond {
	padding: 5%;
}

.sl-steps li:last-child::after {
	display: none;
}
