[data-lilypond-image] {
	/* From starlight-theme-flexoki */
	background: var(--color-paper, #fffcf0);
}

[data-theme="dark"] [data-lilypond-image] {
	padding: 5px;
	border-radius: 5px;
}

[data-lilypond-group] {
	display: flex;
	gap: 1rem;
	padding: 0;
	overflow-x: auto;
	list-style-type: none;
	scroll-snap-type: x mandatory;

	li {
		flex-shrink: 0;
		max-width: 80vw;
		margin: 0;
	}

	img {
		width: 100%;
		margin: 0;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
}

.sl-steps li:last-child::after {
	display: none;
}
