.lilypond {
	/* From starlight-theme-flexoki */
	background: var(--color-paper, #fffcf0);
}

.lilypond-pages {
	list-style-type: none;
	padding: 0;
	display: flex;
	overflow-x: auto;
	gap: 1rem;

	li {
		flex-shrink: 0;
		margin: 0;
	}

	img {
		width: 100%;
		border: 1px solid rgba(0, 0, 0, 0.1);
		margin: 0;
	}
}

.sl-steps li:last-child::after {
	display: none;
}
